.youtube-div {
  margin: 0;
  height: 100vh;
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

.youtube-div .intro {
  font-family: Georgia, "Times New Roman", Times, serif;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #f6f6f6;
  margin-top: 20px;
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.youtube-div .intro h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
  color: #ff3b3b;
}

.youtube-div .intro p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #444444;
}

.youtube-div .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 400px;
  width: 600px;
  border: 2px solid black;
  border-radius: 50px;
  margin-top: 30px;
}

.youtube-div .box .input {
  width: 500px;
  margin: 20px 0;
}

.youtube-div .box .button {
  margin-bottom: 10px;
}

.button {
  width: 180px;
  height: 50px;
  margin-bottom: 10px;
}

.youtube-div .alert {
  margin-top: 5px;
  font-size: 15px;
  position: fixed;
}

.youtube-div .response {
  width: 100%;
  height: auto;
  padding: 20px;
  border-top: 2px solid black;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}

.youtube-div .response .quality {
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.youtube-div .response .quality .info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 850px) {
  .youtube-div .intro {
    width: 80%;
  }

  .youtube-div .intro h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .youtube-div .intro p {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .youtube-div .box {
    width: 90%;
    height: 300px;
  }

  .youtube-div .box .input {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .youtube-div .intro h1 {
    font-size: 1.2rem;
  }

  .youtube-div .intro p {
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {
  .youtube-div .box {
    height: 250px;
  }

  .youtube-div .box .button {
    width: 140px;
    font-size: 10px;
  }
}
