.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar {
  background-color: white;
  border: 2px solid black;
  position: relative;
}

.logo h1 {
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  width: 220px;
  margin: 5px 10px;
  padding: 5px;
  background: linear-gradient(
    45deg,
    #fd1d1d,
    #e1306c,
    #c13584,
    #833ab4,
    #5851db,
    #405de6
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.menu-icon {
  display: none;
}

.nav-elements ul {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 30px;
}

.nav-elements ul a {
  font-size: 20px;
  font-weight: 600;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: red;
  font-weight: 700;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: red;
}

@media (max-width: 800px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 25px;
  }
}

@media (max-width: 768px) {
  .logo h1 {
    font-size: 1.5rem;
    width: 200px;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: whitesmoke;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}
