.navbar {
  margin: 0;
  padding: 0;
  background-color: white;
  height: 80px;
  border: 2px solid black;
  display: flex;
  align-items: center;
}

.navbar h1 {
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  width: 250px;
  margin: 20px;
  padding: 5px;
  background: linear-gradient(
    to right,
    rgb(47, 47, 47),
    rgb(255, 98, 177),
    rgb(184, 132, 35)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.navbar p {
  font-family: "Courier New", Courier, monospace;
  font-weight: 550;
  font-size: 20px;
}
