.navbar {
  margin: 0;
  padding: 0;
  background-color: white;
  height: 80px;
  border: 2px solid black;
  display: flex;
  align-items: center;
}

.navbar h1 {
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  width: 250px;
  margin: 20px;
  padding: 5px;
  background: linear-gradient(
    to right,
    rgb(47, 47, 47),
    rgb(255, 98, 177),
    rgb(184, 132, 35)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.navbar p {
  font-family: "Courier New", Courier, monospace;
  font-weight: 550;
  font-size: 20px;
}

@media (max-width: 1023px) {
  .navbar {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px 20px;
    text-align: center;
  }

  .navbar h1 {
    font-size: 1.5rem;
  }

  .navbar p {
    font-size: 15px;
    margin-top: 3px;
  }
}

@media (max-width: 300px) {
  .navbar h1 {
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    margin: 5px;
    padding: 5px;
  }

  .navbar p {
    font-size: 10px;
  }
}
