.home-div {
  margin: 0;
  height: 100vh;
  background-image: url("https://img.freepik.com/free-photo/blurred-abstract-background-smooth-colors_58702-1548.jpg?w=2000&t=st=1704302803~exp=1704303403~hmac=3cf38257bfaff52a3f43ae6c3d728ea8261bc0a6910a841519cc1a30c82380a2");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-div .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 400px;
  width: 600px;
  border: 2px solid black;
  border-radius: 50px;
  margin-top: 100px;
}

.home-div .box .input {
  width: 500px;
  margin: 20px 0;
}

.home-div .box .button {
  width: 180px;
  height: 50px;
}

.home-div .alert {
  margin-top: 5px;
  font-size: 15px;
  position: fixed;
}

@media (max-width: 700px) {
  .home-div .box {
    width: 90%;
    height: 300px;
  }

  .home-div .box .input {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .home-div .box {
    height: 250px;
  }

  .home-div .box .button {
    width: 100px;
    font-size: 10px;
  }
}
